// mixins

@mixin set-font($size: 1em, $line-height: normal, $font: $fonts-body) {
  font-family: $font;
  font-size: $size;
  line-height: $line-height;
}

@mixin set-flex($direction: row, $wrap: wrap) {
  display: flex;
  flex-flow: $direction $wrap;
}

@mixin set-grid() {
  display: grid;
}

@mixin grid-rows($row-start, $row-end) {
  grid-row-start: $row-start;
  grid-row-end: $row-end;
}

@mixin grid-columns($column-start, $column-end) {
  grid-column-start: $column-start;
  grid-column-end: $column-end;
}

@mixin basicHs() {
  font-family: $fonts-headline;
  margin: 0;
  color: $primary;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  display: inline-block;
}

@mixin divider($color: $text-light) {
  border-top: 2px solid $color;
  margin-top: 1em;
  padding-top: 1.5em;
}

@mixin add-border($width: 2px, $style: solid, $color: $primary) {
  border: $width $style $color;
}




/***********************
    keyframes
************************/


@keyframes lavaLink{
  0%, 33%{
    transform: scale(1.1);
    color: $accent-bright;
  }
  66%{
    transform: scale(1);
    color: $accent2;
  }
  100%{
    transform: scale(.9);
    color: $text-dark;
  }
}





// Zen element styles.

h1,
h2,
h3,
h4,
h5,
h6 {
  @include basicHs();
}

h1 {
  font-size: 2em;
}

p {
  @include set-font(1em, 1.5em);
  padding: 0.5em 0;
  margin: 0;
}

a {
  color: $text-light;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
  &:hover {
    animation: lavaLink 2s linear infinite;
  }
}
// a{
//   color: $text-light;
//   background: linear-gradient(to right, blue 50%, black 50%);
//   background-clip: text;
//   transition: background-position 1s;
//   background-size: 200% 100%;
//   background-position: -100% 0;
//   &:hover{
//     background-position: 0 0;
//   }
// }

abbr {
  text-decoration: unset;
}
