// mixins

@mixin set-font($size: 1em, $line-height: normal, $font: $fonts-body) {
  font-family: $font;
  font-size: $size;
  line-height: $line-height;
}

@mixin set-flex($direction: row, $wrap: wrap) {
  display: flex;
  flex-flow: $direction $wrap;
}

@mixin set-grid() {
  display: grid;
}

@mixin grid-rows($row-start, $row-end) {
  grid-row-start: $row-start;
  grid-row-end: $row-end;
}

@mixin grid-columns($column-start, $column-end) {
  grid-column-start: $column-start;
  grid-column-end: $column-end;
}

@mixin basicHs() {
  font-family: $serif-font;
  text-transform: uppercase;
  margin: 0;
  color: $primary;
  font-size: clamp(1rem, 4vw, 4rem);
  padding: 1rem 0;
  display: inline-block;
}

@mixin divider($color: $text-light) {
  border-top: 2px solid $color;
  margin-top: 1em;
  padding-top: 1.5em;
}

@mixin add-border($width: 0.25rem, $style: solid, $color: $primary) {
  border-top: $width $style $color;
}





/***********************
    keyframes
    color: $accent2;

************************/


@keyframes lavaLink{
  25%{
    font-weight: bold;
    color: $accent2;
  }
  75%{
    font-weight: bolder;
    color: $text-dark;
  }
  100%{
    font-weight: bold;
    color: $accent2;
  }
}





// Zen element styles.

h1,
h2,
h3,
h4,
h5,
h6 {
  @include basicHs();
}

h1 {
  font-size: 2em;
}

p {
  @include set-font(1em, 1.5em);
  padding: 0.5em 0;
  margin: 0;
}

a {
  color: $text-light;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
  &:hover {
    animation: lavaLink 2s linear forwards;
  }
}
// a{
//   color: $text-light;
//   background: linear-gradient(to right, blue 50%, black 50%);
//   background-clip: text;
//   transition: background-position 1s;
//   background-size: 200% 100%;
//   background-position: -100% 0;
//   &:hover{
//     background-position: 0 0;
//   }
// }

abbr {
  text-decoration: unset;
}
