[role='banner'] {
  @include set-flex(column);
}

[role='article'] {
  padding: 1em;
}

.design-selection {
  @include set-flex(column);
  @include add-border();
}

.zen-resources {
  @include set-flex(column);
  @include add-border();
}

.design-archives {
  @include set-flex(column);
  @include add-border();
}

footer {
  @include set-flex();
  @include add-border();
}



 //underlined h3 elements

.preamble h3, .explanation h3{
  text-decoration: underline;
}





/*************************
      Requirements
*************************/


.requirements {
  & h3{
    text-align: center;
    grid-row: 1;
    grid-column: 1/5;
    font-size: 2rem;
  }
  & p:last-of-type{
    grid-row: 3;
    grid-column: 1 / 5;
    background-color: $background-color;
  }

}

