html{
    background-image: url($forestLavaFlow);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    width: 80%;
    margin: 10px auto;
    padding: 5%;
    background-color: $background-color;
    font-family: $fonts-body;
    color: $primary;
    border-radius: 10px;
}

/***************************
       Slides Format
****************************/

/*HELP: In order to match the wireframes, somehow we need
to get the .main-supporting footer beneath .sidebar

I do not know how to do this, at first I was going to try
using flex order but I don't know of any way to put elements
from different parent objects into the same flex

- Caleb*/
.page-wrapper/*, .main-supporting, .sidebar*/{
    display: flex;
    flex-wrap: wrap;
    border-radius: 1rem;

}

/*Borders for everything that the wireframe said*/
/*HELP: There are some elements which have borders around
them which shouldn't (the footer with validation links,
"archives" box, left and right border on "Select a Design"
and "Resources"), even when I comment out all of
these properties here. I don't want to mess up anyone
else's work by changing it, so I'm requesting help here

- Caleb*/
div:not(.summary, .extra1, .extra2, .extra3, .extra4, .extra5, .extra6) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.page-wrapper {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

/*HELP: I don't know how to use CSS to insert an image into
the places where the wireframe says that images should go

- Caleb*/



/*Only in mobile view*/
/*@media only screen and (max-width: 649px) {
    body {
        //I don't think this is even needed
    }
}*/

/*Only in desktop view*/
/*@media only screen and (min-width: 650px) {

    body {
        //I don't think this is even needed
    }


}*/

/***************************
    Road to Enlightenment
****************************/


@media (min-width: 650px){
    .preamble {
      display: grid;
      grid-template-columns: 1fr 1fr; 
      align-items: start;
    
      &::before {
        content: '';
        background: url($forestLavaFlow) no-repeat center center;
        background-size: cover;
        min-height: 600%;
        margin: 1rem; 
      }
    
      h3, p {
        grid-column: 2 / 3;
        margin: 0 1rem;
      }
    }
  
  }


/***************************
           About
****************************/

.explanation {
    justify-content: right;
}

@media (max-width:649px) {
    .explanation {

        &::after {
            content: url($placeHolder400);
        }
    }
}

@media (min-width: 650px) {
    .explanation {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 3em 10em 12em;

        &::after {
            content: url($placeHolder400);
            grid-row: 1/4;
            grid-column: 2/3;
            background-color: red;
        }
    }
}


/***************************
        Participation
****************************/

@media (max-width: 649px) {
/*HELP: I don't know a good way to get the pseudo-element image
behind .participation*/
    /*#zen-supporting {
        position: relative;
        z-index: 1;
    }

    .participation {
        position: absolute;
        
        &::after {
            content: url($placeHolder400);
            position: absolute;
            top:0;
            z-index: -1;
        }
        
    }*/


    .participation h3 {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        //HELP: why isn't it centered?
    }

    .participation > p {
        display: list-item;
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media (min-width: 650px) {
    .participation {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 3em 9em 7.5em 9em;
        align-items: start;

        &::before {
            content: url($placeHolder400);
            grid-row: 2/5;
            
        }
    }

    .participation h3 {
        grid-column: 1/3;
    }
}