html {
  background-image: url($forestLavaFlow);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

// removed body padding/margin to align with wireframe
body {
  margin: 0;
  background-color: $primary;
  color: $primary;
}

// begin title page - bryan
header[role='banner'],
div.summary[role='article'] {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: $text-mid;
  min-height: 50vh;
  flex-grow: 1;
}

div.summary[role='article'] {
  justify-content: flex-start;
}

header[role='banner'] {
  position: relative;
  margin-bottom: 0;
  h1 {
    width: 90%;
    margin: 0;
    padding: 0;
    font-family: $decorative-font;
    font-size: clamp(2rem, 6.5vw, 6.5rem);
    color: transparent;
    background: linear-gradient(to bottom, #ffb247, #db6740, #a1433a);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    word-spacing: clamp(-2rem, -1.4rem, 1rem);
    z-index: 1;
  }

  h2 {
    width: 80%;
    margin: 0;
    padding: 0;
    font-family: $serif-font;
    font-size: clamp(1rem, 4vw, 4rem);
    text-transform: uppercase;
    color: $accent-bright;
    z-index: 1;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.83)
      ),
      url($volcanoFlow);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
  }
}

div.summary[role='article'] {
  p {
    font-family: $sans-serif-font;
    font-size: clamp(0.6rem, 2vw, 2rem);
    margin: 0.5rem;
    &:nth-child(1) {
      font-style: italic;
      font-weight: normal;
      max-width: 40%;
    }
    &:nth-child(2) {
      font-style: normal;
      font-weight: bold;
      font-size: clamp(0.8rem, 2.3vw, 2.3rem);
      max-width: 50%;
    }
  }
}

// end title page

/*Borders for everything that the wireframe said*/
/*HELP: There are some elements which have borders around
them which shouldn't (the footer with validation links,
"archives" box, left and right border on "Select a Design"
and "Resources"), even when I comment out all of
these properties here. I don't want to mess up anyone
else's work by changing it, so I'm requesting help here

- Caleb*/

/*HELP: I don't know how to use CSS to insert an image into
the places where the wireframe says that images should go

- Caleb*/

// Footers

footer {
  height: 20vh;
  position: relative;
  left: 0;
  bottom: 0;
  padding: 0;
  width: 100%;
  align-items: center;
  background-color: $primary;
  color: $text-mid;
  font-family: $sans-serif-font;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 20%);
  text-align: center;
}

footer a {
  padding: 1rem 1.5rem;
  border-right: 0.2rem solid $text-light;
  font-size: clamp(0.5rem, 5vw, 3rem);
  height: 5vh;
}

footer a:last-child {
  border-right: none;
}

.zen-resources {
  height: 15vh;
  position: relative;
  bottom: 0;
  padding: 0;
  width: 100%;
  align-items: center;
  background-color: $primary;
  color: $text-mid;
  font-family: $sans-serif-font;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zen-resources ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 20%);
  align-items: center;
}

.zen-resources li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  border-right: 0.2rem solid $text-light;
  font-size: clamp(0.5rem, 2vw, 2rem);
  height: 5vh;
}

.zen-resources li:last-child {
  border: none;
}

// sidebar grid

.sidebar {
  height: 80vh;
}

.wrapper {
  height: 100%;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.83)
    ),
    url($volcanoFlow);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.design-selection {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 55vh;
  padding: 0;
  justify-content: flex-end;
  align-items: center;
}

.select {
  top: 0;
  padding: 0;
  width: 100%;
  color: $text-light;
  text-align: center;
}

.design-selection nav {
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.design-selection ul {
  height: inherit;
  width: 100%;
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(2, auto);
}

.design-selection li {
  list-style-type: none;
  font-family: $serif-font;
  color: $accent-bright;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.design-name {
  font-family: $decorative-font;
  padding: 1.75rem;
  color: transparent;
  background: linear-gradient(to bottom, #ffb247, #db6740, #a1433a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.designer-name {
  font-family: $sans-serif-font;
}

.design-archives {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  color: $text-light;
  height: 10vh;
  border: none;
}

.archives,
.resources {
  display: none;
}

.design-archives ul {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
}

.next,
.viewall {
  font-family: $sans-serif-font;
  padding: 1rem;
}

.next {
  grid-area: 1 / 3 / 2 / 4;
  border-right: none;
}

.viewall {
  grid-area: 1 / 2 / 2 / 3;
  text-align: center;
  border-right: 0.2rem solid $text-light;
  border-left: 0.2rem solid $text-light;
  white-space: nowrap;
}




/***************************
    Road to Enlightenment
****************************/

@media (min-width: 650px) {
  .preamble {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;

    &::before {
      content: '';
      background: url($forestLavaFlow) no-repeat center center;
      background-size: cover;
      min-height: 200%;
      margin: 1rem;
    }

    h3,
    p {
      grid-column: 2 / 3;
      margin: 0 1rem;
    }
  }
  footer,
  .zen-resources ul {
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 1fr;
  }
.design-selection ul {
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(4, auto);
}

}




/*************************
      Requirements
*************************/


@media (min-width: 649px) {
.requirements {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: start;
  gap: 1.5rem;
  grid-template-columns: auto;
  background: url($volcanoFlow);
  background-size: cover;
  margin: 0 auto;
  width: 95%;
  & p:not(:last-of-type){
    height: 100%;
    text-align: center;
    grid-row: 2;
    background-color: #211a1e;
    border: solid black 1px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.5s ease;

    &::after{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: url($forestLavaFlow) no-repeat center center / cover;
      opacity: 1;
      z-index: 0;
      transition: opacity 2s ease;
    }
    &:hover::after{
      opacity: 0;
      animation: requirementFadeOut 3s ease;
    }
  }
}
}
/***************************
           About
****************************/

.explanation {
  justify-content: right;
}

@media (max-width:649px) {
  .explanation {

      &::after {
          content: url($lavaFlow);
          margin-left: 5%; //this is hacky and I don't like it, I can't get it to center
      }
  }
}

@media (min-width: 650px) {
  .explanation {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-auto-rows: minmax(min-content, max-content);

      &::after {
          content: url($littleRedLava);
          grid-row: 1/4;
          grid-column: 2/3;
      }
  }
}


/***************************
      Participation
****************************/

@media (max-width: 649px) {
/*HELP: I don't know a good way to get the pseudo-element image
behind .participation*/
  #zen-supporting {
      //position: relative;
      //z-index: 1;
  }

  .participation {
      //position: absolute;
      
      &::after {
          content: url($moreRedLava);
          //position: absolute;
          //top:0;
          //z-index: -1;
          
      }
      
  }


  .participation h3 {
      text-align: center;
      width: 100%;
      margin: 0 auto;
  }

  .participation > p {
      display: list-item;
      margin-left: 3rem;
      margin-right: 3rem;
  }
}

@media (min-width: 650px) {
  .participation {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-auto-rows: minmax(min-content, max-content);
      align-items: start;

      &::before {
          content: url($moreRedLava);
          grid-row: 2/5;
          
      }
  }

  .participation h3 {
      grid-column: 1/3;
  }
}