//Our colors:
//black: 090b0f
//maroon: 381c1f
//dark red: a32b1f
//orange: e24c19
//yellow: f8950f
//white: fff9cb

//borrowed fonts from example, not final
$fonts-headline: "arial narrow", Arial, Verdana, sans-serif;
$fonts-body: verdana, arial, sans-serif;

//Colors look good right now
//Will revisit if anything seems funky later
$background-color: #e24c19;
$primary: #381c1f;
$accent1: #a32b1f;
$accent2: #f8950f;
$text-dark: #090b0f;
$text-light: #fff9cb;


// Images

$placeHolder400: "https://placehold.co/400";
