//Our colors:
//black: 090b0f
//maroon: 381c1f
//dark red: a32b1f
//orange: e24c19
//yellow: f8950f
//white: fff9cb
//test


@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

$fonts-headline: "IM Fell Double Pica SC", serif;
$fonts-body: "Fira Sans", sans-serif;
$fonts-decorative: "Rubik Moonrocks", sans-serif;

//Colors look good right now
//Will revisit if anything seems funky later
$background-color: #baa394;
$primary: #381c1f;
$accent1: #a32b1f;
$accent2: #890e0e;
$text-dark: #090b0f;
$text-light: #fff9cb;


// Images

$placeHolder400: "https://placehold.co/400";
$fireLava: "../images/fireLava.jpg";
$forestLavaFlow: "../images/forestLavaFlow.jpg";
$volcanoFlow: "../images/volcanoFlow.jpg";
$lavaFlow: "../images/lavaFlow.jpg";