h1, h2, h3, h4, h5, h6 {
  font-family: "arial narrow", Arial, Verdana, sans-serif;
  margin: 0;
  color: #381c1f;
  margin-bottom: 1em;
  padding: 0.5em 1em;
  display: inline-block;
}

h1 {
  font-size: 2em;
  margin-bottom: -1em;
  padding-left: 0.7em;
}

p {
  font-family: verdana, arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.5em 0;
  margin: 0;
}

a {
  color: #fff9cb;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}
a:hover {
  color: #890e0e;
}

abbr {
  text-decoration: unset;
}

[role=banner] {
  display: flex;
  flex-flow: column wrap;
}

[role=article] {
  padding: 1em;
}

.design-selection {
  display: flex;
  flex-flow: column wrap;
  border: 2px solid #381c1f;
}

.zen-resources {
  display: flex;
  flex-flow: column wrap;
  border: 2px solid #381c1f;
}

.design-archives {
  display: flex;
  flex-flow: column wrap;
  border: 2px solid #381c1f;
}

footer {
  display: flex;
  flex-flow: row wrap;
  border: 2px solid #381c1f;
}

/************************
   Road to Enlightenment
*************************/
.preamble h3 {
  text-decoration: underline;
}

html {
  background-image: url("../images/forestLavaFlow.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  width: 80%;
  margin: 10px auto;
  padding: 5%;
  background-color: #baa394;
  font-family: verdana, arial, sans-serif;
  color: #381c1f;
  border-radius: 10px;
}

/*HELP: In order to match the wireframes, somehow we need
to get the .main-supporting footer beneath .sidebar

I do not know how to do this, at first I was going to try
using flex order but I don't know of any way to put elements
from different parent objects into the same flex

- Caleb*/
.page-wrapper {
  display: flex;
  flex-wrap: wrap;
  border-radius: 1rem;
}

/*Borders for everything that the wireframe said*/
/*HELP: There are some elements which have borders around
them which shouldn't (the footer with validation links,
"archives" box, left and right border on "Select a Design"
and "Resources"), even when I comment out all of
these properties here. I don't want to mess up anyone
else's work by changing it, so I'm requesting help here

- Caleb*/
div:not(.summary, .extra1, .extra2, .extra3, .extra4, .extra5, .extra6) {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.page-wrapper {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

/*HELP: I don't know how to use CSS to insert an image into
the places where the wireframe says that images should go

- Caleb*/
/*Only in mobile view*/
/*@media only screen and (max-width: 699px) {
    body {

    }
}*/
/*Only in desktop view*/
/*@media only screen and (min-width: 700px) {

    body {

    }


}*/
/***************************
    Road to Enlightenment
****************************/
@media (min-width: 650px) {
  .preamble {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
  .preamble::before {
    content: "";
    background: url("../images/forestLavaFlow.jpg") no-repeat center center;
    background-size: cover;
    min-height: 600%;
    margin: 1rem;
  }
  .preamble h3, .preamble p {
    grid-column: 2/3;
    margin: 0 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
