@import url("https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
/***********************

    keyframes

************************/
@keyframes lavaLink {
  0% {
    color: #730b0b;
    font-weight: bold;
  }
  33% {
    font-weight: bold;
    color: #a32b1f;
  }
  66% {
    font-weight: bolder;
    color: #730b0b;
  }
  90% {
    font-weight: bold;
    color: #a32b1f;
  }
  100% {
    font-weight: bolder;
    color: #730b0b;
  }
}
@keyframes requirementFadeOut {
  from {
    z-index: 0;
  }
  to {
    z-index: -1;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IM Fell Double Pica SC", serif;
  text-transform: uppercase;
  margin: 0;
  color: #080607;
  font-size: clamp(1rem, 4vw, 4rem);
  padding: 1rem 0;
  display: inline-block;
  color: #b2ae92;
}

h1 {
  font-size: 2em;
}

p {
  font-family: verdana, arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  padding: 1.5em 1em;
  margin: 0;
  color: #b2ae92;
}

a {
  color: #730b0b;
  text-decoration: none;
}
a:hover {
  animation: lavaLink 4s linear infinite;
}

abbr {
  text-decoration: unset;
}

[role=banner] {
  display: flex;
  flex-flow: column wrap;
}

[role=article] {
  padding: 1em;
}

.main.supporting div {
  border-top: 0.25rem solid #080607;
}

.design-archives {
  display: flex;
  flex-flow: column wrap;
  border-top: 0.25rem solid #080607;
}

footer {
  display: flex;
  flex-flow: row wrap;
  border-top: 0.25rem solid #080607;
}

.preamble h3, .explanation h3 {
  text-decoration: underline;
}

/*************************
      Requirements
*************************/
.requirements h3 {
  text-align: center;
  grid-row: 1;
  grid-column: 1/5;
  font-size: 2rem;
}
.requirements p:last-of-type {
  grid-row: 3;
  grid-column: 1/5;
  background-color: #080607;
}

html {
  background-image: url("images/forestLavaFlow.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body {
  margin: 0;
  background-color: #080607;
  color: #080607;
}

header[role=banner],
div.summary[role=article] {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: #b2ae92;
  min-height: 50vh;
  flex-grow: 1;
}

div.summary[role=article] {
  justify-content: flex-start;
}

header[role=banner] {
  position: relative;
  margin-bottom: 0;
}
header[role=banner] h1 {
  width: 90%;
  margin: 0;
  padding: 0;
  font-family: "Rubik Mono One", cursive;
  font-size: clamp(2rem, 6.5vw, 6.5rem);
  color: transparent;
  background: linear-gradient(to bottom, #ffb247, #db6740, #a1433a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  word-spacing: -1.4rem;
  z-index: 1;
}
header[role=banner] h2 {
  width: 80%;
  margin: 0;
  padding: 0;
  font-family: "IM Fell Double Pica SC", serif;
  font-size: clamp(1rem, 4vw, 4rem);
  text-transform: uppercase;
  color: #da392b;
  z-index: 1;
}
header[role=banner]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.83)), url("images/volcanoFlow.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

div.summary[role=article] p {
  font-family: "Fira Sans", sans-serif;
  font-size: clamp(0.6rem, 2vw, 2rem);
  margin: 0.5rem;
}
div.summary[role=article] p:nth-child(1) {
  font-style: italic;
  font-weight: normal;
  max-width: 40%;
}
div.summary[role=article] p:nth-child(2) {
  font-style: normal;
  font-weight: bold;
  font-size: clamp(0.8rem, 2.3vw, 2.3rem);
  max-width: 50%;
}

/*Borders for everything that the wireframe said*/
/*HELP: There are some elements which have borders around
them which shouldn't (the footer with validation links,
"archives" box, left and right border on "Select a Design"
and "Resources"), even when I comment out all of
these properties here. I don't want to mess up anyone
else's work by changing it, so I'm requesting help here

- Caleb*/
/*HELP: I don't know how to use CSS to insert an image into
the places where the wireframe says that images should go

- Caleb*/
footer {
  height: 20vh;
  position: relative;
  left: 0;
  bottom: 0;
  padding: 0;
  width: 100%;
  align-items: center;
  background-color: #080607;
  color: #b2ae92;
  font-family: "Fira Sans", sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 20%);
  text-align: center;
}

footer a {
  padding: 1rem 1.5rem;
  border-right: 0.2rem solid #fff9cb;
  font-size: clamp(0.5rem, 5vw, 3rem);
  height: 5vh;
}

footer a:last-child {
  border-right: none;
}

.zen-resources {
  height: 15vh;
  position: relative;
  bottom: 0;
  padding: 0;
  width: 100%;
  align-items: center;
  background-color: #080607;
  color: #b2ae92;
  font-family: "Fira Sans", sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.zen-resources ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 20%);
  align-items: center;
}

.zen-resources li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  border-right: 0.2rem solid #fff9cb;
  font-size: clamp(0.5rem, 2vw, 2rem);
  height: 5vh;
}

.zen-resources li:last-child {
  border: none;
}

.sidebar {
  height: 80vh;
}

.wrapper {
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.83)), url("images/volcanoFlow.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.design-selection {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 55vh;
  padding: 0;
  justify-content: flex-end;
  align-items: center;
}

.select {
  top: 0;
  padding: 0;
  width: 100%;
  color: #fff9cb;
  text-align: center;
}

.design-selection nav {
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
}

.design-selection ul {
  height: inherit;
  width: 100%;
  display: grid;
  padding: 0;
  margin: 0;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(2, auto);
}

.design-selection li {
  list-style-type: none;
  font-family: "IM Fell Double Pica SC", serif;
  color: #da392b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.design-name {
  font-family: "Rubik Mono One", cursive;
  padding: 1.75rem;
  color: transparent;
  background: linear-gradient(to bottom, #ffb247, #db6740, #a1433a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.designer-name {
  font-family: "Fira Sans", sans-serif;
}

.design-archives {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  color: #fff9cb;
  height: 10vh;
  border: none;
}

.archives,
.resources {
  display: none;
}

.design-archives ul {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  list-style: none;
  margin: 0;
  padding: 0;
}

.next,
.viewall {
  font-family: "Fira Sans", sans-serif;
  padding: 1rem;
}

.next {
  grid-area: 1/3/2/4;
  border-right: none;
}

.viewall {
  grid-area: 1/2/2/3;
  text-align: center;
  border-right: 0.2rem solid #fff9cb;
  border-left: 0.2rem solid #fff9cb;
  white-space: nowrap;
}

/***************************
    Road to Enlightenment
****************************/
@media (min-width: 650px) {
  .preamble {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
  .preamble::before {
    content: "";
    background: url("images/forestLavaFlow.jpg") no-repeat center center;
    background-size: cover;
    min-height: 200%;
    margin: 1rem;
  }
  .preamble h3,
  .preamble p {
    grid-column: 2/3;
    margin: 0 1rem;
  }
  footer,
  .zen-resources ul {
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 1fr;
  }
  .design-selection ul {
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(4, auto);
  }
}
/*************************
      Requirements
*************************/
@media (min-width: 649px) {
  .requirements {
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: start;
    gap: 1.5rem;
    grid-template-columns: auto;
    background: url("images/volcanoFlow.jpg");
    background-size: cover;
    margin: 0 auto;
    width: 95%;
  }
  .requirements p:not(:last-of-type) {
    height: 100%;
    text-align: center;
    grid-row: 2;
    background-color: #211a1e;
    border: solid black 1px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: background-color 0.5s ease;
  }
  .requirements p:not(:last-of-type)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("images/grayLavaField.jpg") no-repeat center center/cover;
    opacity: 1;
    z-index: 0;
    transition: opacity 2s ease;
  }
  .requirements p:not(:last-of-type):hover::after {
    opacity: 0;
    animation: requirementFadeOut 3s ease;
  }
}
/***************************
           About
****************************/
.explanation {
  justify-content: right;
}

@media (max-width: 649px) {
  .explanation::before {
    content: "";
    display: block;
    background: url("images/littleRedLava.jpg") 0 0/cover;
    padding-bottom: 50%;
    margin-bottom: 10%;
    /*content: '';
    background-image: url($lavaFlow);
    background-size: cover;*/
  }
}
@media (min-width: 650px) {
  .explanation {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: minmax(min-content, max-content);
  }
  .explanation::after {
    content: url("images/littleRedLava.jpg");
    grid-row: 1/4;
    grid-column: 2/3;
  }
}
/***************************
      Participation
****************************/
@media (max-width: 649px) {
  /*HELP: I don't know a good way to get the pseudo-element image
  behind .participation*/
  .participation {
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
  .participation::after {
    content: "";
    display: block;
    background: url("images/moreRedLava.jpg") 0 0/cover;
    padding-bottom: 200%;
    grid-area: 1/1/5/3;
    z-index: 0;
    opacity: 5%;
  }
  .participation h3 {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    grid-area: 1/1/2/3;
  }
  .participation > p {
    display: list-item;
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .participation > p:nth-of-type(1) {
    grid-area: 2/1/3/3;
  }
  .participation > p:nth-of-type(2) {
    grid-area: 3/1/4/3;
  }
  .participation > p:nth-of-type(3) {
    grid-area: 4/1/5/3;
  }
}
@media (min-width: 650px) {
  .participation {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: minmax(min-content, max-content);
    align-items: start;
  }
  .participation::before {
    content: url("images/moreRedLava.jpg");
    grid-row: 2/5;
  }
  .participation h3 {
    grid-column: 1/3;
  }
}/*# sourceMappingURL=style.css.map */